body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f4f4;
    margin: 0;   
    color: #333; 
}

header {
    background: #007bb5;
    color: #fff;
    padding: 20px 0 10px 0;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.06);
}



header h1 {
    margin: 0 0 10px 0;
    font-size: 2em;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0 0 5px 0;
    display: flex; 
    justify-content: center;
    gap: 20px;
}

nav ul li {
    display:inline;
    font-size: 2em;
}

nav ul a {
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    transition: text-decoration 0.2s, color 0.2s;
}

nav ul a:hover{
    text-decoration: underline;
    color:aqua;
}
/* cuerpo de el sitio */
main {
    max-width: 1500px;
    margin: 40px auto 0 auto;
    padding: 0 15px;
}
section{
     
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    
}

section h2 {
    margin-top: 0;
    color: #007bb5;
    font-size: 1.5em;
    margin-bottom: 18px;
    text-align: center;
}

.formulario-con-borde {
    border: 4px dashed green; /* Borde verde, 4px de grosor y estilo discontinuo */
    padding: 15px; /* Añade espacio interno entre el borde y el contenido */
    width: 400px; /* Ancho del formulario */
    justify-content: center;
}

section table {
    /*margin-left: auto;
    margin-right: auto;
      /* O puedes usar un margen de auto en todas partes: */
    margin: 20px auto;
    border: 1px solid rgb(56, 16, 236); /* Añade un borde para visualizar */
    
 
    }

table th, td {
  /*border: 1px solid black; /* Añade un borde para visualizar */
  padding: 10px; /* Añade espacio interior */
  text-align: center; /* Centra el contenido horizontalmente */
  
}

th {
    font-size: large;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.relleno {
    background-color: #8eb5c7;
}
.obraSocial{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0 0 15px 0;
    justify-content: center; 
    
}

.obraSocial li {
    background: #007bb5;
    border: 1px solid #002b3f;
    border-radius: 5px;
    padding: 6px 12px;
    color: #f4f4f4;
    font-weight: 400;
}
.catalogo {
    background: none;
    padding: 0;
    margin-bottom: 0;
    box-shadow: none;
    border-radius: 0px;
}
.formulario {
   display: flex;
    margin:auto;
     /*grid-template-columns: repeat(3, 1fr);
    gap: 25px;*/
    max-width: 400px;
    padding: 20px 0;
    justify-content: center;
    border: 2px solid rgb(41, 61, 240); /* Ancho, Estilo y Color del borde */
    padding: 10px; /* Opcional: añade espacio dentro del borde */
    
}


.formulario > div {
   
  
    background: #fff;
    border: 1px solid #146181;
    border-radius: 8px;
    padding: 18px 22px;
    box-sizing: border-box;
    box-shadow: 0 2px 8px rgba(199, 58, 58, 0.06);
    
    
}

.formulario > form {
     justify-content: center;
}
.medicos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    max-width: 1000px;
    padding: 20px 0;
}
.medicos > div {
    background: #fff;
    border: 1px solid #88cbeb;
    border-radius: 8px;
    padding: 18px 22px;
    box-sizing: border-box;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
}
.medicos h3 {
    margin-top: 0;
    color: #002b3f;
    font-size: 1.1em;
}

footer {
  background: #f5f2f2;     
  padding: 18px 0;          
  text-align: center;       
  color: #555;              
  margin-top: 40px;         
  font-size: 0.95em;       
  border-top: 1px solid #cde6ef; 
}
